<div class="row">
  <div class="col-md-4">
    <div class="cont">
      <img src="http://www.gazetadopovo.com.br/ra/mega/Pub/GP/p4/2016/02/29/VidaCidadania/Imagens/Vivo/flores4.jpg" width= 280px>
    <h1>Venha até nós!</h1>
    Viaje por várias cidades do Brasil, incluindo Curitiba, Belo Horizonte, Brasília e Rio de Janeiro.
  </div>
  </div>
  <div class="col-md-4">
    <div class="cont">
      <img src="http://opiniaoenoticia.com.br/wp-content/uploads/14-bis...jpg" width= 280px>
    <h1>Tabela de Preços</h1>
    <ul>
      <li>5 fotos: R$ 30,00</li>
      <li>10 fotos: R$ 45,00</li>
      <li>Vídeo: R$ 50,00</li>
      <li>Mais de um vídeo: R$ 70,00</li>
    </ul>
  </div>
  </div>
    <div class="col-md-4">
      <div class="cont">
        <img src="http://blog.marketex.com.br/wp-blog/wp-content/uploads/2015/09/foto-araquem.jpg" width= 280px>
      <h1>Equipe</h1>
      Nossa equipe é formada por profissionais altamente capacitados nas áreas de fotografia e cinematografia.
</div>
</div>
</div>

  <div class="col-md-10 col-md-offset-1">
    <div class="signup">
    <p>Experimente a sensação de embarcar no primeiro avião inventado pelo homem.</p></div>
    <div class="link"><%= link_to "Cadastre-se já!", signup_path, class: "btn btn-lg btn-primary black-background white" %></div></div>
</div>
