<div class="container"><small>© Estudio 14-bis 2017 - Todos os direitos reservados</small>
<footer>
<ul>
<li>Rua Izabel A Redentora, 25</li>
<li>CEP 83005010</li>
<li>Tel: 3556-9220</li>
<li>São José dos Pinhais, PR, Brasil</li>
</footer>
</div>
